# Copy this file to `butler.env`, and replace `<BUTLER API KEY>` with
# your butler API key.
#
# butler.env should be in .gitignore, but it's always good to double check
# that git doesn't include it.
export BUTLER_API_KEY=<BUTLER API KEY>
